<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/header.ejs') %>

        <section class="container">
            <%- include('partials/navbar.ejs') %>

                <article class="content">
                    <h1>Produtos</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores illo temporibus eius minima ea odit porro dignissimos, sequi expedita aperiam voluptatibus modi nesciunt laudantium perferendis quod architecto, maxime vel consequuntur?
                    </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SWtnfmBZDW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
        </section>

        <%- include('partials/footer.ejs') %>

            <%- include('partials/foot.ejs') %>
</body>

</html>