<!DOCTYPE html>
<html lang="pt-br">
    
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>

        <h1>
            <%= title %>
        </h1>
        <hr>

        <% if (typeof message !== 'undefined') { %>
            <div class="cadastro-realizado"><%= message %></div>
        <% } %>
        
        <form action="/edit/<%= user._id %>" method="POST" class='formulario'>
            <div>
                <label>Nome</label>
                <input type="text" name="name" placeholder="Digite seu nome" value="<%= user.name %>">
            </div>
            <div>
                <label>Idade</label>
                <input type="text" name="age" placeholder="Digite seu idade" value="<%= user.age %>">
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="email" placeholder="Digite seu email" value="<%= user.email %>">
            </div>
            <button type="submit">Editar</button>
        </form>

        <%- include('partials/foot.ejs') %>
    </body>

</html>